.weather-app {
  padding: 15px;
  border: 1px solid rgba(0, 0, 255, 0.425);
  border-radius: 5px;
  font-family: "Google Sans", arial, sans-serif;
}
.weather-app-wrapper {
  max-width: 550px;
  margin: 30px auto;
}
h1 {
  color: black;
  font-size: 30px;
  font-weight: 100px;
  margin-bottom: 28px;
}
ul {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
li {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
.percent {
  color: gray;
}
.weather-temperature {
  display: flex;
}

.units {
  position: relative;
  bottom: -25px;
  font-size: 20px;
}
#temperature {
  font-size: 76px;
}
#temperature,
.units {
  position: relative;
  right: 2rem;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  text-align: center;
  margin-top: 20px;
  color: black;
}
.date-forecast {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 14px;
}
.temp-min {
  opacity: 0.5;
}
img {
  width: 120px;
  height: 120px;
  display: block;
  position: relative;
  right: 2rem;
}

.d-flex {
}
input[type="submit"] {
  background-color: rgba(12, 133, 233, 0.639);
  color: rgb(14, 13, 13);
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 28px;
}
input[type="submit"]:hover {
  background-color: rgba(12, 133, 233, 0.7);
}
small > a {
  margin-left: 0.9rem;

  color: black;
}
.units > a {
  font-weight: bold;
}
